NCL_CategoryWsdl/CabinCategoryInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.ibm.ncl.category">
	<xsd:complexType name="CabinCategoryInfoRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="shipCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sailEndDate" type="xsd:string">
			</xsd:element>

			<xsd:element minOccurs="0" name="voyageId" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>