NCL_CategoryWsdl/CategorySummary.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.ibm.ncl.category">
	<xsd:complexType name="CategorySummary">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="category" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="location" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="description" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="maxOccupancy" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="shipCode" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>