NCL_VXAPISchemas_LIB/com/ncl/ais/CouponShell.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="BaseTypes.xsd"/>
	<xs:include schemaLocation="ResShell.xsd"/>
	<xs:complexType name="CouponShell">
		<xs:annotation>
			<xs:documentation>Describes all information about the Coupon</xs:documentation>
			<xs:appinfo source="Versonix">
				<XMLBridge>ToBeImplemented</XMLBridge>
			</xs:appinfo>
		</xs:annotation>
		<xs:all>
			<xs:element name="CouponID" type="RecordID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserDefinedCouponID" type="LongCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
					<xs:documentation>User defined coupon ID is generated by customer defined database stored procedure. The procedure name is defined by AccCouponUserIDFunction seaware setting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VacationRange" type="DateRange" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can be applied to bookings with vacation in the range</xs:documentation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicabilityRange" type="DateRange" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Can be applied during the period</xs:documentation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Active" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
					<xs:documentation>Cannot be changed when coupon has been used already (Used=Y).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Used" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
					<xs:documentation>Output only.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="CurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used in applicability rules to define maximum possible amount to be applied</xs:documentation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountLeft" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Output only. If Amount &gt; 0, defines left value to be applied</xs:documentation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplAmount" type="Money" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Output only. If ResID is provided, the node contains maximum amount that can be applied to the reservation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplError" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Output only. If ResID is provided and Coupon cannot be applied exception message is provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficeCode" type="OfficeCode" minOccurs="0"/>
			<xs:element name="CouponClass" type="CouponClass" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedAsPayment" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
					<xs:documentation>Output only. Coupon Class related info: coupon can be used (or already used) as a payment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedAsDiscount" type="Boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
					<xs:documentation>Output only. Coupon Class related info: coupon can be used (or already used) as a discount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="ClientID" type="RecordID">
							<xs:annotation>
								<xs:appinfo source="Versonix">
									<XMLBridge>ToBeImplemented</XMLBridge>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgencyID" type="RecordID">
							<xs:annotation>
								<xs:appinfo source="Versonix">
									<XMLBridge>ToBeImplemented</XMLBridge>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="CpnGenBucketID" type="RecordID">
							<xs:annotation>
								<xs:appinfo source="Versonix">
									<XMLBridge>ToBeImplemented</XMLBridge>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="GrantedToClient" type="RecordID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceResID" type="RecordID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenLinkID" type="RecordID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Coupon Batch ID assigned during mass generation of coupons</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="ShortComment" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="Versonix">
						<XMLBridge>ToBeImplemented</XMLBridge>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassComments" type="ShortComment" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
