Casino_ContactPreferences_APP/ContactPreferences_DFDL.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="ContactPreferences">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
											<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%NL;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="mpcard" type="xsd:string"/>
							<xsd:element dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="value2" name="sfid" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="brand" type="xsd:string"/>
                            <xsd:element dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="value4" name="phone_pref" type="xsd:string"/>
                            <xsd:element dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="value5" name="email_pref" type="xsd:string"/>
                            <xsd:element dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="value6" name="sendmail_pref" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>