NCL_CruiseCreateCoupon_APP/com/ncl/ais/SFResponseFile.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../../../IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="SFResponseFile">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%NL;%WSP*;" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element default="Client" ibmDfdlExtn:sampleValue="client" name="client" type="xsd:string"/>
							<xsd:element default="Coupon" ibmDfdlExtn:sampleValue="coupon" name="coupon" type="xsd:string"/>							
							<xsd:element default="ErrorMessage" ibmDfdlExtn:sampleValue="errormsg" name="errormsg" type="xsd:string"/>							
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>			
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%NL;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element default="" ibmDfdlExtn:sampleValue="value1" minOccurs="0" name="client" type="xsd:string"/>
							<xsd:element default="" ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="coupon" type="xsd:string"/>
							<xsd:element default="" ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="errormsg" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>